@import url(http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope);
@import url(http://fonts.googleapis.com/css?family=Ultra);

body{
  background: #fff;
  text-align: center;
}

nav{
  padding-left: 30px;
}

.pills a{
  color: #eee;
}

h1{
  font-family: 'Annie Use Your Telescope', cursive;
  color: #222328;
  position: relative;
  top: 50px;
  left: 175px;
  font-size: 5em;
  width: 240px;
}

h2,h3{
  font-family: 'Ultra', serif;
  padding-top: 20px;
  text-shadow: #fff 1px 1px 0
}

h2{
  font-size: 6em;
}

h3{
  font-size: 5em;
}

p, ol{
  font-size: 1.2em;
  padding: 20px 25%;
  text-align: justify;
  color: #666
}

ol{
  font-weight: bold;
  color: #000
}

header{
  background: transparent url("../images/bg-header.jpg") top left no-repeat;
  height: 344px;
  -moz-transform:rotate(-2deg);
  -webkit-transform:rotate(-2deg);
}


.container{
  border-left: 4px ridge #ba0000;
  border-right: 7px ridge #ba0000;
  -moz-box-shadow: 3px 3px 200px #999;
  -webkit-box-shadow: 3px 3px 200px #999;
  overflow: hidden;
  width: 697px;
  background: #ddd;
}

article{
  padding: 10px;
}