@import url(http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope);
@import url(http://fonts.googleapis.com/css?family=Ultra);

body{
  background: #c5b8af url("../images/bg.png") top left fixed;
  padding-top: 20px;
  padding-bottom: 20px;
}

nav{
  padding-left: 30px;
}

.pills a{
  color: #eee;
}

.pills a:hover{
  background: #c86724;
}

h1{
  font-family: 'Annie Use Your Telescope', cursive;
  color: #222328;
  position: relative;
  top: 50px;
  left: 210px;
  font-size: 5em;
  width: 240px;
}

h2,h3{
  font-family: 'Ultra', serif;
  padding-top: 20px;
  text-shadow: #fff 1px 1px 0;
  color: #222328;
}

h2{
  font-size: 3em;
  padding-bottom: 20px;
}

h3{
  font-size: 2em;
  padding-bottom: 15px;
}

p, ol, ul{
  font-size: 1.2em;
  padding: 5px;
  text-align: justify;
  color: #666
}
li {
  padding: 5px;
}

#logos {
  padding:0; 
  margin:0;

}
#logos li {
  padding: 10px;
  list-style:none;
}

#logos li a.single {
  padding: 35px;
}


#logos li a.pair {
  padding: 5px;
}

ol{
  font-weight: bold;
  color: #000
}

header{
  background: #c5b8af url("../images/bg-header.jpg")  no-repeat;
  height: 310px;
  width: 940px;
}

#page{
  background: #eee;
}

.container{
  -moz-box-shadow: -2 2px 3px rgba(78, 68, 60, 0.3);
  -webkit-box-shadow: -1px 2px 3px rgba(78, 68, 60, 0.3);
  overflow: hidden;
  width: 940px;
  background: transparent;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

#map_canvas{
  width: 600px;
  height: 400px;
  margin: 5px;
  border: 1px solid gray;
}

.row{
  position: relative; 
}

.span5{ 
  height:100%;
  background: #65666a;
  -moz-box-shadow: 2px 2px 3px rgba(78, 68, 60, 0.4) inset;
  -webkit-box-shadow: 2px 2px 3px rgba(78, 68, 60, 0.4) inset;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  position: relative;
  left: -3px;
  border-right: 7px solid #65666a;
  position: absolute;
  left: 653px;
  top: 0;
}

article{
  padding: 10px;
}

div.registration-join {
  text-align:center; 
  padding: 20px;
}